// Mixins Here

.btn {
    width: 40%;
    height: 10%;
    font-size: 2em;
    padding-top: 5px;
    padding-left: 40px;
    border-radius: 10px;
    background-color: @btn-bg-color;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: darken(teal, 5%)
      }
  }
  .btn {
    .btn {
        height: 10%;
        font-size: 2em;
        padding-top: 5px;
        padding-left: 5px;
        border-radius: 5px;
        background-color: @btn-bg-color;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: darken(teal, 5%)
          }
      }
  }

  /*
  .button-style(@btnBgColor, @btnWidth, @btnFontSz, @btnFtColor) {
    background-color: @btnBgColor;
    border-radius   : 10px;
    width           : @btnWidth;
    height          : 40px;
    font-size       : @btnFontSz;
    color           : @btnFtColor;
    text-align      : center;
    padding         : 10px 0px;
    cursor          : pointer;
}

.btn {
    .button-style(green, 30%, 10px, black);
  }*/